

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 0px 0px;
    

}
.gmail{
    float:left;
    padding:10px;
}
.images{
    float:left;
    padding:10px;
}
.apps{
    float:left;
    padding:10px;
}
.account{
    float:left;
    padding:10px;
}

.logo {
    display: block;
    margin: auto;
    padding: 250px 0 50px;

}

.search-border{
    border-style: solid;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-color: gray;
    width: 30%;
    margin:auto;
}
.search{
    padding:10px;
}

.buttons{
    text-align: center;
    padding-top: 25px;
   
}
.btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size:14px;
    font-family: arial, sans-serif;
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
    height: 36px;
}